/*neutral*/

* {
    font-family: 'Raleway', sans-serif;
 }

}
.footer,
.header {
    background: linear-gradient(to left, #fff, #fff);
}
.ctas-button {
    color: #112131;
}
.ctas .twocta .ctas-button-2 {
    border: 1px solid #112131;
    color: #112131 !important;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
*,
*:before,
*:after {
    margin: 0;
    box-sizing: border-box;
}
body {
    -webkit-font-smoothing: antialiased;
}

/*text*/
.heading {
    font-weight: 100;
    font-size: 50px;
    line-height: 68px;
}
@media (max-width: 900px) {
    .heading {
        font-size: 32px;
        line-height: 40px;
    }
}
.subheading {
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
}
@media (max-width: 900px) {
    .subheading {
        font-size: 26px;
        line-height: 35px;
    }
}
.paragraph {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}
.heading+.paragraph {
    margin-top: 30px;
}
.subheading+.paragraph {
    margin-top: 10px;
}
p.paragraph {
    color: #112131;
}
.logo {
    font-size: 30px;
    line-height: 30px;
    font-weight: 900;
}
@media (max-width: 420px) {
    .logo {
        font-size: 22px;
    }
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/*flexbox styles*/
.flex,
.spread,
.center,
.right,
.vertical,
.centervertical {
    display: flex;
}
.spread {
    justify-content: space-between;
}
.center {
    align-items: center;
    justify-content: center;
}
.centervertical {
    flex-direction: column;
    justify-content: center;
}
.right {
    justify-content: flex-end;
}
.vertical {
    flex-direction: column;
}

/*grid*/
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0;
}
.col-1 {
    width: 8.333333%;
}
.col-2 {
    width: 16.666667%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.333333%;
}
.col-5 {
    width: 41.666667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.333333%;
}
.col-8 {
    width: 66.666667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.333333%;
}
.col-11 {
    width: 91.666667%;
}
.col-12 {
    width: 100%;
}

/*containers*/
.container-lrg,
.container-sml {
    margin: auto;
    width: 100%;
}
.container-lrg {
    max-width: 1080px;
}
.container-sml {
    max-width: 700px;
}
.ctas {
    margin: 40px 0 0 0;
}
.centerdevices,
.sidedevices {
    position: relative;
}
.header {
    padding: 20px 0 90px 0;
    overflow: hidden;
}
.header .heading {
    margin: 120px 0 0 0;
}
.header .sidedevices {
    margin: 120px 0 0;
}
@media (max-width: 900px) {
    .header .flex {
        flex-direction: column;
    }
    
    .header .heading {
        margin-top: 60px;
    }
    
    .header .paragraph {
        margin-top: 30px;
        text-align: center;
    }
    
    .header .ctas {
        text-align: center;
    }
    
    .header .col-6 {
        width: 100%;
    }
    
    .header .sidedevices {
        margin: 90px 0 0;
    }
}
.ctas-input {
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    width: 260px;
    display: inline-block;
}
.ctas-button {
    display: inline-block;
    margin: 0 0 0 10px;
    height: 40px;
    line-height: 38px;
    padding: 0 30px;
    background: #fff;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3px;
    border: 1px solid white;
    text-decoration: none;
}
@media (max-width: 440px) {
    .ctas-input,
    .ctas-button {
        display: block;
        width: 100%;
        text-align: center;
    }
    
    .ctas-button {
        margin: 10px 0 0 0;
    }
}
.socialproof {
    padding: 90px 0;
}
.socialproof img {
    max-height: 45px;
    max-width: 100%;
    margin-top: 45px;
}
.socialproof .logos {
    flex-wrap: wrap;
}
@media (max-width: 600px) {
    .socialproof .col-3 {
        width: 33.33%;
    }
}
.ctas-button,
.ctas-button-2 {
    display: inline-block;
    height: 40px;
    line-height: 38px;
    padding: 0 30px;
    background: #fff;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3px;
    border: 1px solid white;
    text-decoration: none;
}
.ctas-button-2 {
    background: transparent;
    color: white;
    margin: 0 0 0 10px;
}
@media (max-width: 440px) {
    .ctas-button,
    .ctas-button-2 {
        display: block;
        width: 100%;
        text-align: center;
    }
    
    .ctas-button-2 {
        margin: 10px 0 0 0;
    }
}

/*footer style*/


.footer {
    padding: 90px 0 45px;
}
.footer .footer-nav {
    padding-top: 90px;
    flex-wrap: wrap;
}
.footer .nav-link {
    display: inline-block;
    margin: 0 10px;
}
@media(max-width: 700px) {
    .footer .footer-nav .col-3 {
        width: 50%;
    }
}
@media(max-width: 500px) {
    .footer .footer-nav .col-3 {
        width: 100%;
    }
}


.ctas-button,
.ctas-button-2 {
    display: inline-block;
    align-self: center;
    height: 60px;
    width: 400px;
    line-height: 38px;
    padding: 0 30px;
    background: #112131;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    text-transform: none;
    letter-spacing: .3px;
    border: 1px solid #112131;
    text-decoration: none;
    color: #63b32e;
}
.ctas-button-2 {
    background: transparent;
    color: #112131;
    margin: 0 0 0 10px;
}
@media (max-width: 440px) {
    .ctas-button,
    .ctas-button-2 {
        display: block;
        width: 100%;
        text-align: center;
    }
    
    .ctas-button-2 {
        margin: 10px 0 0 0;
    }
}
.feature5 {
    padding: 90px 0;
    overflow: hidden;
    border-bottom: none;
}
.feature5 .sidedevices {
    margin-top: 90px;
}
.feature5 .emoji {
    width: 44px;
    height: 44px;
    position: absolute;
    transform: translate3d(calc(-100% - 20px), 0, 0);
    /*delete this*/
    
    min-width: inherit;
    z-index: 9999;
}
.feature5 .emoji b {
    font-size: 40px;
}
.feature5 .steps:not(:last-of-type) {
    margin-bottom: 20px;
}
@media (max-width: 900px) {
    .feature5 .header-images {
        min-height: inherit;
        margin-top: 60px;
    }
    
    .feature5 .heading {
        margin-bottom: 50px;
    }
    
    .feature5 .flex {
        flex-direction: column;
    }
    
    .feature5 .centervertical {
        flex-direction: row;
    }
    
    .feature5 .steps {
        width: 33.33%;
        padding: 0 20px;
    }
    
    .feature5 .emoji {
        transform: none;
        position: relative;
    }
    
    .feature5 .col-5,
    .feature5 .col-6 {
        width: 100%;
    }
}
@media (max-width: 750px) {
    .feature5 .centervertical {
        flex-wrap: wrap;
    }
    
    .feature5 .steps:nth-of-type(1) {
        width: 100%;
        margin-bottom: 30px;
    }
    
    .feature5 .steps:not(:nth-of-type(1)) {
        width: 50%;
    }
}
@media (max-width: 500px) {
    .feature5 .steps:nth-of-type(1) {
        margin-bottom: 0;
    }
    
    .feature5 .steps:not(:nth-of-type(1)) {
        width: 100%;
        margin-top: 30px;
    }
}

/*Menu bar*/
.fixed-menu-bar {
    background: #112131;
    height: 60px;
    width: 100%;
    padding-top: 10px;
    position: Fixed;
    top: 0;
    z-index: 1000;
}
.inner {
    max-width: 100%;
    margin: 0px;
    padding: 0px 20px;
    position: relative;
}

nav>ul {
    float: right;
    list-style-type: none;
}

nav>ul>li {
    text-align: left;
    line-height: 40px;
    margin-left: 60px;
}

nav>ul li ul li {
    width: 100%;
    text-align: left;
}

nav ul li:hover {
    cursor: pointer;
    position: relative;
}

nav ul li:hover>ul {
    display: block;
}

nav ul li:hover>a {
    color: #63b32e;
    text-decoration: none;
    cursor: auto;
}

nav>ul>li>a {
    cursor: pointer;
    display: block;
    outline: none;
    width: 100%;
    text-decoration: none;
}

nav>ul>li {
    float: left;
}

nav a {
    color: #fff;
}

nav>ul li ul {
    display: none;
    position: absolute;
    left: 20px;
    top: 100%;
    width: 100%;
    z-index: 2000;
}

nav>ul li ul li>a {
    text-decoration: none;
}
[type="checkbox"],
label {
    display: none;
}
@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }
    
    nav label {
        display: block;
        background: #112131;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 0px;
    }
    
    nav label:after {
        content: '';
        display: block;
        width: 40px;
        height: 4px;
        background: #fff;
        margin: 7px 5px;
        box-shadow: 0px 10px 0px #fff, 0px 20px 0px #fff
    }
    
    [type="checkbox"]:checked~ul {
        display: block;
        z-index: 9999;
        position: absolute;
        right: 0px;
        left: 40px;
    }
    /*dropdown text*/
    
    nav a {
        color: #fff;
        padding: 10px;
        margin: 0px;
    }
    /*dropdown background*/
    
    nav ul li {
        display: block;
        float: none;
        margin: 0px;
        width: 100%;
        text-align: left;
        background: #112131;
        text-indent: 20px;
        margin-left: 20px;
    }
    
    nav>ul>li {
        margin-left: 10px;
    }
    
    nav>ul li ul li {
        display: block;
        float: inherit;
    }
    
    nav>ul li ul {
        display: block;
        position: relative;
        width: 100%;
        z-index: 9999;
        float: none;
    }
}

hr.border1 {
    border-top: none;
}

#my_popup {
    transform: scale(0.8);
}
.popup_visible #my_popup {
    transform: scale(1);
}

/*Contact Form*/
.row {
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0 2.5em;
}
.row.header {
    padding: 1.5em 2.5em;
    border-bottom: 1px solid #ccc;
    background: #FFF;
    color: #112131;
}
.row.body {
    padding: .5em 2.5em 1em;
}
.pull-right {
    float: right;
}
.btn {
    font-size: 1.0625em;
    display: inline-block;
    padding: 0.74em 1.5em;
    margin: 1.5em 0 0;
    color: #fff;
    border-width: 0 0 0 0;
    border-bottom: 5px solid;
    text-transform: uppercase;
    background-color: #b3b3b3;
    border-bottom-color: #8c8c8c;
    font-family: 'Relaway', sans-serif;
    font-weight: 300;
}
.btn:hover {
    background-color: #bfbfbf;
}
.btn.btn-submit {
    background-color: #112131;
    border-bottom-color: #374d78;
}
.btn.btn-submit:hover {
    background-color: #63b32e;
}
form {
    max-width: 100%;
    display: block;
}
form ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
form ul li {
    margin: 0 0 0.25em 0;
    clear: both;
    display: inline-block;
    width: 100%;
}
form ul li:last-child {
    margin: 0;
}
form ul li p {
    margin: 0;
    padding: 0;
    float: left;
}
form ul li p.right {
    float: right;
}
form ul li .divider {
    margin: 0.5em 0 0.5em 0;
    border: 0;
    height: 1px;
    width: 100%;
    display: block;
    background-color: #112131;
    background-image: linear-gradient(to right, #63b32e, #112131);
}
form ul li .req {
    color: #63b32e;
}
form label {
    display: block;
    margin: 0 0 0.5em 0;
    color: #112131;
    font-size: 1em;
}
form input {
    margin: 0 0 0.5em 0;
    border: 1px solid #ccc;
    padding: 6px 10px;
    color: #555;
    font-size: 1em;
}
form textarea {
    border: 1px solid #ccc;
    padding: 6px 10px;
    width: 100%;
    color: #112131;
}
form small {
    color: #112131;
    margin: 0 0 0 0.5em;
}
@media only screen and (max-width: 799px) {
    .pull-right {
        float: right;
    }
    
    input {
        width: 100%;
    }
    
    label {
        width: 100%;
        display: inline-block;
        float: left;
        clear: both;
    }
    
    li,
    p {
        width: 100%;
    }
    
    input.btn {
        margin: 1.5em 0 0.5em;
    }
    
    li small {
        display: none;
    }
}


#slide-show-1 .h3 {
    font-style: bold;
}

.current {
    color: #63b32e;
 }

#element-for-environment {
   position: relative;
   background-image: linear-gradient(to top, #63b32e, #fff);
}
 
#back-environment {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 68%;
   background-image: linear-gradient(to top, #63b32e, #fff);
   opacity: 0.7;
}